In [28]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
l=[4, 8, 15, 16, 23,42]
ser1=pd.Series(l)
print(ser1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [30]:
#Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#variable print it.
l1=["abc",45,55,6,6,6,1,56,0,55,56]
s=pd.Series(l1)
print(s)

0     abc
1      45
2      55
3       6
4       6
5       6
6       1
7      56
8       0
9      55
10     56
dtype: object

In [36]:
#3
data={'name':['Alice','Bob','Claire'],
      'age' :[25,30,27],
      'Gender':['Female','Male','Female']
     }
print(pd.DataFrame(data))

     name  age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [43]:
#4
'''
--> A Series is a one-dimensional labeled array, representing a single column of data.
A Series is essentially a single column of a DataFrame. 
It can be seen as a specialized case of a DataFrame with only one column.

--> A DataFrame is a two-dimensional labeled data structure, resembling a table with rows and columns.
It can contain multiple columns, each of which can be a Series.

'''

series_data=["abc", 45,11,0,5]
print("Series_Data:\n",pd.Series(series_data))
dataframe_data={'Name':["Ashok","Anna","Dipanwita"],
                'Class':["7","6","5"],
                'Rollno':[1,2,3]
}
print("DataFrame:")
print(pd.DataFrame(dataframe_data))

Series_Data:
 0    abc
1     45
2     11
3      0
4      5
dtype: object
DataFrame:
        Name Class  Rollno
0      Ashok     7       1
1       Anna     6       2
2  Dipanwita     5       3

In [13]:
#5 Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#you give an example of when you might use one of these functions?

'''
Common functions that we use in Pandas are as follows:
- df.head()    # Displays the first few rows in the DataFrame.
- df.tail()    # Displays the last few rows in the DataFrame.
- df.info()    # Provides a concise summary of the DataFrame.
- df.describe()    # Generates descriptive statistics.
- df.columns    # Returns the column labels of the DataFrame.
- df.shape    # Returns a tuple representing the dimensions (rows, columns) of the DataFrame.
- df['column_name'].mean()    # Calculates the mean of a specific column.
- df.iloc[]    # Allows for integer-location based indexing for selection.
- df.loc[]    # Allows for label-based indexing for selection.
- df['column_name'].value_counts()    # Returns the counts of unique values in a column.
'''

import pandas as pd

# Creating a sample DataFrame
data = {'Age': [25, 30, 35, 40, 45],
        'Salary': [50000, 60000, 75000, 90000, 80000]}
df = pd.DataFrame(data)
print(df.columns)

Index(['Age', 'Salary'], dtype='object')

In [15]:
#5. # Using df.describe() to get descriptive statistics
summary_statistics = df.describe()

print(summary_statistics)

             Age        Salary
count   5.000000      5.000000
mean   35.000000  71000.000000
std     7.905694  15968.719423
min    25.000000  50000.000000
25%    30.000000  60000.000000
50%    35.000000  75000.000000
75%    40.000000  80000.000000
max    45.000000  90000.000000

In [18]:
#5
df.loc[1,'Salary']

60000

In [19]:
#5
df.head()

   Age  Salary
0   25   50000
1   30   60000
2   35   75000
3   40   90000
4   45   80000

In [20]:
#6
#Series: Series is mutable. You can modify the values within a Series after it has been created.
#DataFrame: DataFrame is mutable. You can modify the values, add or remove columns, and perform various operations to modify the 
#structure and content of a DataFrame.

In [21]:
#7
import pandas as pd

# Creating multiple Series
names = pd.Series(['A', 'B', 'C', 'D'])
ages = pd.Series([25, 30, 35, 40])
salaries = pd.Series([50000, 60000, 75000, 90000])

# Combining Series into a DataFrame
df = pd.DataFrame({'Name': names, 'Age': ages, 'Salary': salaries})

# Displaying the resulting DataFrame
print(df)

  Name  Age  Salary
0    A   25   50000
1    B   30   60000
2    C   35   75000
3    D   40   90000